/* red color defined globally */
:root {
    --red: rgba(255, 74, 86, 1);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
    background-color: var(--red);
}
.welcoming {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.player-form {
    position: relative;
    display: inline-block;
    max-width: 700px;
    min-width: 500px;
    padding: 30px 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    transition: all .25s cubic-bezier(.53, .01, .35, 1.5);
    -webkit-font-smoothing: antialised;
}
.player-form h1 {
    color: var(--red);
    font-weight: 100;
    letter-spacing: 0.01em;
    margin-left: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.name-field {
    position: relative;
    margin-top: 1rem;
}
.player-form input[type="text"] {
    appearance: none;
    background: none;
    border: 1px solid var(--red);
    font-size: 2rem;
    height: 40px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 4rem;
    color: var(--red);
    font-weight: 100;
    margin-top: 1.5rem;
    transition: background-color 0.25s ease, color 0.25s ease, transform 0.25s;
}
.player-form input[type="text"]:focus {
    outline: none;
    background-color: var(--red);
    color: #fff;
}
.player-form label {
    position: absolute;
    left: 15px;
    top: 35px;
    transition: transform 0.8s ease, font-size 0.25s;
    color: var(--red);
}
.player-form input[type="text"]:focus + label {
    transform: translateY(-2rem);
    transition: transform .3s;
}
/* Apply scale only when there is text */
.player-form input[type="text"]:valid + label {
    transform: translate(-2rem, -2rem) scale(0.8);
    transition: .2s;
}
#play-btn {
    margin-top: 1rem;
    width: 100px;
    height: 40px;
    border-radius: 2rem;
    border: 1px solid var(--red);
    background-color: #fff;
    color: var(--red);
    font-size: 1rem;
    cursor: pointer;
    transition: .6s;
}
#play-btn:hover,
#play-btn:focus {
    color: #fff;
    background-color: var(--red);
    transition: .3s;
}

.gameboard-container {
    /* absolute positioning and centering */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 1rem;
    padding: 10px;
    /* making it invisible for start */
    visibility: hidden;
}
.tile {
    background-color: #fff;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.6);
    font-size: 6rem;
    text-align: center;
    transition: transform 0.3s ease-in-out; 
}
/* add the class to animate the scale-up effect when adding symbol to a tile */
.tile.scale-up {
    transform: scale(1.2);
}
.tile {
    transform: scale(1);
}